<style type="text/css">
#foxads {
  position: fixed;
  width: 100% !important;
  z-index: 9995;
  text-align: center;
  bottom: 0px;
}

.sticky-ads {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 247, 247, 0.9);
  z-index: 9995;
}

.sticky-ads-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 0 0;
  position: absolute;
  right: 0;
  top: -25px;
  background-color: rgba(247, 247, 247, 0.9);

  cursor: pointer;
}

.sticky-ads .sticky-ads-content {
  overflow: hidden;
  display: block;
  position: relative;
  height: 90px;
  width: 100%;
  padding: 0px;
}
#foxCloseBtn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: 4px;
}
</style>
